# macOS
.DS_Store
Thumbs.db

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
dist/

# Swift Package Manager
.build/
.swiftpm/

# Xcode Previews
PreviewAssets.xcassets/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods (not used but common)
Pods/
